@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<hr style="height: 3px; border:1px outset #999999; background-color: #0000ff" />

<b>Where it all started....</b><br />
<div class="testimonials">
    It all started with a simple idea of dressing well. In todays world a persons personality is mostly defined by how he/she is groomed. Many a times fashion is mixed with latest trends which gives rise to a lot of confusion. We at DressWell want to be them, who could take away some of the confusion and give you the confidence that you deserve.
</div>
<br /><b>We cater to ,</b><br />
<div class="testimonials">
    We cater to a wide range of products ranging from clothes, shoes, jewellery, handmade gift artifacts, leather purses to a variety of made to order products.<br />  </p>
</div>
<br /><b>Customization</b><br />
<div class="testimonials">
    It has always been our niche to be the onces ready to customize our products to perfectly fit the customer requirements. We keep our customers happy. <br />  </p>
</div>
<br /><b>Our Motto</b><br />
<div class="testimonials">
    Our motto is to achieve excellence and give our customers their money's worth.  Visit us to know more!  " <br />  </p>
</div>
<br /><b>Policies</b><br />
<div class="testimonials">
    We use best Quality materials for all our products. All rights to this website are reserved by DressWell. User of any image / content without our written consent or permission could lead to legal action taken against you." <br />  </p>
</div>

