@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<hr style="height: 3px; border:1px outset #999999; background-color: #0000ff" />

<address>
    999 DressPark,<br />
    Lamp Road,<br />
    NJ 00000, <br />
    USA 
 </address>

<address>
    <strong>Mail us at:</strong>   <a href="mailto:dresswell@mail.com">dresswell@mail.com</a><br />
    <strong>Call or Watsapp:</strong> +1 999-999-9999 , Monday to Friday , 12 pm – 8 pm IST
 </address>

