@{
    ViewBag.Title = "Shipping Policies";
}
<h2>@ViewBag.Title</h2>
<hr style="height: 3px; border:1px outset #999999; background-color: #0000ff" />

<b>Where do we take orders from </b>:<font style="font-family:'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif; font-size: 19px;" color="grey"> India & USA</font><br /><br />
<b>Shipping Charges </b>: <font style="font-family:'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif; font-size: 19px;" color="grey"> There are no shipping charges above a purchase of Rs.5000 or more. Otherwise DHL standard shipping changes will be applicable. Delivery time will be 10 to 15 business days.</font><br /><br />
<br />
<b>	For any queries contact admin or email at <a href="mailto:dresswell_admin@mail.com">dresswell@mail.com</a></b>
<br/><br/><br/>
<h4><i>@ViewBag.Message</i></h4>
